$gris: #949494;

.products {
    margin: auto;
    width: 80%;
}
.listado-productos {
    .producto-info {
        margin-bottom: 1em;
    }
    .img-producto {
        width: 100%;
        height: 110px;
        background-size: cover;
        background-position: top;
    }
    .circle-color {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 1px solid #000000;
    }
}
.separator {
    background-color: #000000;
    width: 50px;
    height: 1px;
    margin: 20px 0;
}
.headers {
    margin: 30px 0;
    @media (max-width: 768px) {
        margin: 50px 0;
    }
}
#totales {
    border-top: 1px dotted $gris;
    padding: 1em 0;
    height: 8em;
}
.form-user {
    overflow: hidden;
    position: relative;
    max-height: 1000px;
    @media (max-width: 768px) {
        max-height: 1050px;
    }
}
.payment-method-1 {
    transform: translate(0%, 0%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.payment-method-1.next{
    transform: translate(-110%, 0%);
}
.payment-method-2 {
    transform: translate(100%, -150.9%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.payment-method-2.next{
    transform: translate(0%, -150.9%);

}
.toTrash {
    cursor: pointer;
    text-decoration: underline;
}
.info-cliente-header {
    margin: 1em 0;
}
#editar-info {
    cursor: pointer;
}
.pagos-info{
    position: relative;
    top: -25px;
    cursor: pointer;
}
.billing-methods{
    border-top: 1px dotted $gris;
    border-bottom: 1px dotted $gris;
    margin: 4em 0;
}
.form-group {
    margin: 3em 0em !important;
}
#modal-pago4 {
    .separator {
        margin: 20px auto !important;
    }
}
#form-compra-datos-usuario {
    #valid-user-data {
        @media (max-width: 768px) {
            width: 100%;
            padding: 1em !important;
        }
    }
}